/* line 10, sass/var.scss */
img.elevate {
  width: 100px;
  display: inline;
}

/* line 15, sass/var.scss */
a {
  color: #49c1b7;
  text-decoration: none !important;
}
/* line 18, sass/var.scss */
a:hover {
  color: #98eac5;
}

/* line 56, sass/var.scss */
.btn {
  background: rgba(73, 193, 183, 0.5);
  background: -moz-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73, 193, 183, 0.5)), color-stop(100%, rgba(152, 234, 197, 0.5)));
  background: -webkit-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: -ms-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: linear-gradient(to right, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
}
/* line 45, sass/var.scss */
.btn:hover {
  background: rgba(73, 193, 183, 0.85);
  background: -moz-linear-gradient(left, rgba(73, 193, 183, 0.85) 0%, rgba(152, 234, 197, 0.85) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73, 193, 183, 0.85)), color-stop(100%, rgba(152, 234, 197, 0.85)));
  background: -webkit-linear-gradient(left, rgba(73, 193, 183, 0.85) 0%, rgba(152, 234, 197, 0.85) 100%);
  background: -o-linear-gradient(left, rgba(73, 193, 183, 0.85) 0%, rgba(152, 234, 197, 0.85) 100%);
  background: -ms-linear-gradient(left, rgba(73, 193, 183, 0.85) 0%, rgba(152, 234, 197, 0.85) 100%);
  background: linear-gradient(to right, rgba(73, 193, 183, 0.85) 0%, rgba(152, 234, 197, 0.85) 100%);
}

/* line 61, sass/var.scss */
.nav-expanded nav {
  right: 0;
}
/* line 64, sass/var.scss */
.nav-expanded a.nav-expander.fixed {
  opacity: 0;
}

/* line 69, sass/var.scss */
nav {
  background: #FFF;
  display: block;
  height: 100%;
  border-left: 2px solid #333;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;
}

/* line 84, sass/var.scss */
#nav-close {
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

/* line 90, sass/var.scss */
.main-menu {
  padding-top: 12px;
}
/* line 92, sass/var.scss */
.main-menu li {
  border-bottom: 1px solid #49c1b7;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}
/* line 98, sass/var.scss */
.main-menu li:not(.navLogo):not(.nav-close):not(.dropdown):hover {
  border-bottom: 1px solid #fff;
  background: rgba(73, 193, 183, 0.5);
  background: -moz-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73, 193, 183, 0.5)), color-stop(100%, rgba(152, 234, 197, 0.5)));
  background: -webkit-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: -ms-linear-gradient(left, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
  background: linear-gradient(to right, rgba(73, 193, 183, 0.5) 0%, rgba(152, 234, 197, 0.5) 100%);
}
/* line 101, sass/var.scss */
.main-menu li:not(.navLogo):not(.nav-close):not(.dropdown):hover a {
  color: #fff;
}
/* line 106, sass/var.scss */
.main-menu li a {
  width: 100%;
  display: block;
  color: #333;
  text-decoration: none;
}
/* line 111, sass/var.scss */
.main-menu li a img {
  width: 100%;
}
/* line 115, sass/var.scss */
.main-menu li .sub-nav {
  border-bottom: 0;
  padding: 4px;
}
/* line 121, sass/var.scss */
.main-menu a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #49c1b7;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 8px;
}
/* line 132, sass/var.scss */
.main-menu a:hover .caret {
  border-top-color: #98eac5;
}

/* line 138, sass/var.scss */
.navbar {
  background: transprent;
  z-index: 100;
}

/* line 143, sass/var.scss */
a.nav-expander {
  color: #FFF;
  display: block;
  background: #49c1b7;
  background: -moz-linear-gradient(left, #49c1b7 0%, #98eac5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #49c1b7), color-stop(100%, #98eac5));
  background: -webkit-linear-gradient(left, #49c1b7 0%, #98eac5 100%);
  background: -o-linear-gradient(left, #49c1b7 0%, #98eac5 100%);
  background: -ms-linear-gradient(left, #49c1b7 0%, #98eac5 100%);
  background: linear-gradient(to right, #49c1b7 0%, #98eac5 100%);
  text-shadow: 1px 1px 4px #262626;
  box-shadow: 2px 2px 6px #000;
  padding: 5px;
  display: inline;
  text-transform: uppercase;
  vertical-align: middle;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  position: fixed;
  text-decoration: none;
  z-index: 12;
  opacity: 1;
  cursor: pointer;
}

/* line 164, sass/var.scss */
body.nav-expanded {
  margin-left: 0;
  transition: right 0.4s ease-in-out 0s;
}
